<h3 style="color:blue;">Chat de Soporte</h1>
    <br>
    
    <form id="add-message" onsubmit="return sendMessage(this)">
        <div class="form-group">
            <label for="email"><b>Email</b></label>
            <input id="email" placeholder="Ingresa tu email" class="form-control" type="text" name="email" />

            <label for="message"><b>Mensaje</b></label>
            <input type="text" id="message" class="form-control" placeholder="Ingresa tu mensaje">
            <button class="btn btn-success mt-3" type="submit">Enviar</button>
        </div>
    </form>