<h3 style="color: blue">LISTA DE PRODUCTOS</h3>
        <div class="table-responsive" id="productsMain">
            <table class="table table-dark" id="tableProducts">
                <thead>
                    <tr style="color: yellow">
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Imagen</th>
                    </tr>
                </thead>
                <tbody id="bodyProducts"></tbody>
            </table>
        </div>