    <div id="messagesMain"></div>
    
    <!-- <div class="container">
        <% mensajes.forEach( mensaje => { %>
            <span style="color: blue"><%=mensaje.email %></span><span style="color: brown"> <%=Date().toLocalString() %></span><span style="color: green"><%=mensaje.mensaje %></span>     
        <% }) %>
    </div> -->