<h1 style="color:blue;">Accede al mercadito</h1>

<form action="/log/ingresar" method="post" >
    <div class="form-group">
        <label for="text">Usuario:</label>
        <input type="text" class="form-control" id="text" placeholder="Usuario" name="text" required>
        <button>Ingresar</button>
    </div>
</form>
